html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
}

section {
    max-width: 25em;
    display: block;
    margin: 0;
    float: left;
    vertical-align: middle;
}

 img {
  max-width: 25em;
  width: 100%;
  padding: 0;
  display: block;
  float:left;
}

section h2 {
  display: inline-block;
  text-align: left;
}

.btn {
  list-style-type: none;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 0.4em 0.75em 0.5em;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
}
