html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1em .75em .5em;
}

img {
  display: block;
  max-width: 25em;
  width: 100%;
  margin: auto;
}

section {
  display: block;
  margin: auto;
}

section img {
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

section h2 {
  display: inline-block;
  text-align: left;
}

section div {
  display: inline;
  text-align: left;
}

.btn {
  list-style-type: none;
  display: inline-block;
  background-color: #f2f2f2;
  padding: .4em .75em .5em;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.btn:hover {
  background-color: #666;
}
